
.container-courses{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
    list-style: none;
}

ul li{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

ul li:hover{
    color: red;

}

img{
    width: 300px;
}


.low-card{
    text-align: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }